/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #f8d49d;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  background-color: #f8d49d;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #f44336;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  animation: fadeInUp 1s ease-out;
}

h2 {
  color: #f44336;
}

/* Анимации */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.cancel-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.cancel-button:hover {
  background-color: #bd2130;
}
